.drag-container {  
    display: flex;
    flex-wrap: wrap;
    height: 250px;  
    position: relative;
}
.drag-long-ground {
    display: block;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
.drag-long-ground > .drag-around {
    width: 1250px;
    height: 1250px;
}
.drag-container > .drag-around {
    flex: 1 1;
    width: 100%; 
    border: 2px dashed #fff;
    border-radius: 15px;
    padding: 15px;
    transition: box-shadow 300ms ease-in;
}
.drag-container .draggable-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    min-height: 50px;
    padding: 0 10px; 
    border-radius: 10px;
    transition: box-shadow 300ms ease-in;
    cursor: grab;
}
.drag-container .draggable-box > h1 { 
    margin-bottom: 5px;
}
.drag-container .grabbed {
    cursor: grabbing;
    margin: 0;
}
.draggable-box.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}