$primary-color: #e4c2ae;
$secondary-color: #313139;
$success-color: #51dabb; 
$danger-color: #ff4c60;
$info-color: #6c6ce5;
$warning-color: #ffd15c;
$all-colors: ("primary": $primary-color, "secondary": $secondary-color, "success": $success-color, "danger": $danger-color, "info": $info-color, "warning": $warning-color);
$default-color: #efefef;
$variant-text-color: #fff;
$bg-color: #fff;
$bg-color-dim: #f8f9fa;
$bg-color-dark: #000;
$bg-color-dark-dim: #63646a;
$text-color-dark: #bbbcc4;
$text-color: #858585;
$title-text-color: #5f5f5f;
$disabled-color: #e8e8e8;